@media(max-width:1000px){


    .flex-list {
        display: flex;
        flex-wrap:wrap;
        
      }
      .flex-list li {
        flex: auto;
        width:50%;
      }    

    .top-container h1 {
        font-size:32px;
      }
      
    .top-container p {
        font-size:20px;
      }
    
}




@media (max-width: 670px){
    .menu-icon{
        display:block;
    }

    .header-list {
        display:none;
    }

    .header-list li{
        display:none;
    }
    
    .top-container {
        text-align:left;
        padding-top:130px;
    }

    .top-container h1 {
        font-size:24px;
      }
      
    .top-container p {
        font-size:14px;
      }
    
    

    .flex-list {
        flex-direction:column;
      }
      
    .flex-list li {
        margin:0 auto;
      }
    
    .skill-icon img {
        height:400px;
        border:7px solid rgb(177, 177, 221);
    }
    
    .text-contents {
        display:inline-block;
        width:60%;
        font-size: 24px;
        display:none;
    }
    
    .faq {
        font-size:24px;
    }
    

    footer {
        text-align:center;
    }

    

}
